{{#link-to "news.item" item.id}}

  <div class="post-list-horizontal-item">
    <div class="image mb-3" style="{{item.imageStyle}}"></div>
    <h3 class="title">{{item.title}}</h3>
    <div class="summary">{{item.summary}}</div>
  </div>

{{/link-to}}