{{#link-to "news.item" item.id}}

  <div class="post-list-horizontal-item mb-3">
    <img src={{item.image_url}} class="image image-fit" alt="Post image">
    <div class="info">
      <h3 class="title">{{item.title}}</h3>
      <div class="summary">{{item.summary}}</div>
    </div>
  </div>

{{/link-to}}