<footer class="row">
  <div class="col-sm-6">
    <small>
      &copy; 2018 Kryvyy Rih IT Cluster
    </small>
  </div>
  <div class="col-sm-6 text-right">
    <small>
      Powered by
      <a href="https://www.livarava.com/">LivaRava</a>
      <a href="https://www.livarava.com/en/cloud/">Cloud</a>
      and
      <a href="https://www.livarava.com/en/framework/">Framework</a>
    </small>
  </div>
</footer>