<header class="row">
  <div class="col-12 col-md-2">
    {{#link-to "index"}}
      <img src="/images/logo.svg" class="img-fluid">
    {{/link-to}}
  </div>
  <div class="col-12 col-md-10">
    <table style="height: 100%;">
      <tbody>
      <tr>
        <td class="align-middle">
          <ul class="nav">
            <li class="nav-item">
              <a href="https://www.facebook.com/kritorgua/" class="nav-link" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
            </li>

            <li class="nav-item">
              {{#link-to "page" "about" class="nav-link"}}Про нас{{/link-to}}
            </li>

            <li class="nav-item">
              {{#link-to "page" "projects" class="nav-link"}}Проекти{{/link-to}}
            </li>

            <li class="nav-item">
              {{#link-to "page" "events" class="nav-link"}}Події{{/link-to}}
            </li>

            <li class="nav-item">
              {{#link-to "news" class="nav-link"}}Новини{{/link-to}}
            </li>

            <li class="nav-item">
              {{#link-to "page" "contacts" class="nav-link"}}Контакти{{/link-to}}
            </li>

            <li class="nav-item pull-right">
              <a href="mailto:info@krit.org.ua?subject=Приєднання до Kryvyy Rih IT Cluster"
                 class="nav-link btn btn-primary">Приєднатися</a>
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</header>