<header class="row">
    <div class="col-sm-2">
        {{#link-to "index"}}
            <img src="/images/logo.svg" class="img-fluid">
        {{/link-to}}
    </div>
    <div class="col-sm-10">
        <table style="height: 100%;">
            <tbody>
            <tr>
                <td class="align-middle">
                    <ul class="nav">
                        <li class="nav-item">
                            {{#link-to "page" "about" class="nav-link"}}Про нас{{/link-to}}
                        </li>

                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Проекти</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Події</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Новини</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Контакти</a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</header>