<header class="row mb-5">
  <div class="col-sm-2">
    <img src="/images/logo.svg" class="img-fluid">
  </div>
  <div class="col-sm-10">
    <table style="height: 100%;">
      <tbody>
      <tr>
        <td class="align-middle">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Новини</a>
            </li>

            <li class="nav-item">
              <a class="nav-link disabled" href="#">Події</a>
            </li>

            <li class="nav-item">
              <a class="nav-link disabled" href="#">Люди</a>
            </li>

            <li class="nav-item">
              <a class="nav-link disabled" href="#">Компанії</a>
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</header>