<div class="row">
  <div class="col-sm-8">
    <h1>{{model.item.title}}</h1>

    <div>{{{model.item.descriptionHtml}}}</div>
  </div>
  <div class="col-sm-4">
    <img src={{model.item.image_url}} class="img img-fluid" alt="Item image">
  </div>
</div>